@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?tdog2i');
	src:url('../fonts/icomoon.eot?#iefixtdog2i') format('embedded-opentype'),
		url('../fonts/icomoon.woff?tdog2i') format('woff'),
		url('../fonts/icomoon.ttf?tdog2i') format('truetype'),
		url('../fonts/icomoon.svg?tdog2i#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-running:before {
	content: "\73";
}
.icon-nike:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}
.icon-instagram:before {
	content: "\e602";
}
.icon-songkick:before {
	content: "\e603";
}
.icon-home:before {
	content: "\e604";
}
.icon-blog:before {
	content: "\e605";
}
.icon-projects:before {
	content: "\e610";
}
.icon-stopwatch:before {
	content: "\e611";
}
.icon-flip:before {
	content: "\e612";
}
.icon-gigs:before {
	content: "\e606";
}
.icon-googleplus:before {
	content: "\e609";
}
.icon-facebook:before {
	content: "\e60a";
}
.icon-twitter:before {
	content: "\e60b";
}
.icon-mail:before {
	content: "\e607";
}
.icon-music:before {
	content: "\e608";
}
.icon-gauge:before {
	content: "\e613";
}
.icon-plus:before {
	content: "\e60c";
}
.icon-linkedin:before {
	content: "\e60e";
}
.icon-lastfm:before {
	content: "\e60f";
}
.icon-spotify:before {
	content: "\e60d";
}
